
body{
    background-color: #006569;
    display: flex;
    height: 100vh;
    align-items: center;
}

section{
  padding: 2% 0;
}

#contenidoImagen{
    width: 10em;
    height: 17em;
    margin: 0 auto;
}

h3{
  font-family: 'Pacifico',serif;
  font-size: 1.5em;
  color:  #f4e1d3;
  font-weight: 100;
}

.rotate{
    background-color:#00a79f;
    z-index:999;
    padding: 120px 18px;
    width: 2px;
    border-radius: 25px;
    opacity:0.8;
    margin: 1em 4em;
    position: absolute;
  }
  
  .rotating {
    background-color:#ee340b;
    -webkit-animation: rotating 2s linear forwards;
    -moz-animation: rotating 2s linear forwards;
    -ms-animation: rotating 2s linear forwards;
    -o-animation: rotating 2s linear forwards;
    animation: rotating 2s forwards;
  }
  
  .rotating-left {
    background-color:#e79b6a;
    -webkit-animation: rotating-left 2s linear forwards;
    -moz-animation: rotating-left 2s linear forwards;
    -ms-animation: rotating-left 2s linear forwards;
    -o-animation: rotating-left 2s linear forwards;
    animation: rotating-left 2s forwards;
  }
  
  @keyframes rotating-left {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(-55deg);
      -moz-transform: rotate(-55deg);
      -webkit-transform: rotate(-55deg);
      -o-transform: rotate(-55deg);
      transform: rotate(-55deg);
    }
  }
  
  @keyframes rotating {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(55deg);
      -moz-transform: rotate(55deg);
      -webkit-transform: rotate(55deg);
      -o-transform: rotate(55deg);
      transform: rotate(55deg);
    }
  }
  