

body{
    background-color: rgb(255,238,173);
    height: 100%;
}
.contentTotal{
  width: 50%;
  margin: 10% auto;
  text-align: center;

}

#contenidoImagen{
    width: 35%;
    height: 410px;
    margin: 0 auto;
}

h3{
  font-family: 'Pacifico',serif;
  font-size: 45px;
  color: #000000;
  font-weight: 100;
}

.rotate{
    background-color:#e01563;
    z-index:999;
    padding: 200px 25px;
    width: 2px;
    border-radius: 25px;
    opacity:0.8;
    margin-left: 6%;
    position: absolute;
  }
  
  .rotating {
    background-color:#e9a820;
    -webkit-animation: rotating 2s linear forwards;
    -moz-animation: rotating 2s linear forwards;
    -ms-animation: rotating 2s linear forwards;
    -o-animation: rotating 2s linear forwards;
    animation: rotating 2s forwards;
  }
  
  .rotating-left {
    background-color:#3eb991;
    -webkit-animation: rotating-left 2s linear forwards;
    -moz-animation: rotating-left 2s linear forwards;
    -ms-animation: rotating-left 2s linear forwards;
    -o-animation: rotating-left 2s linear forwards;
    animation: rotating-left 2s forwards;
  }
  
  @keyframes rotating-left {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(-55deg);
      -moz-transform: rotate(-55deg);
      -webkit-transform: rotate(-55deg);
      -o-transform: rotate(-55deg);
      transform: rotate(-55deg);
    }
  }
  
  @keyframes rotating {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(55deg);
      -moz-transform: rotate(55deg);
      -webkit-transform: rotate(55deg);
      -o-transform: rotate(55deg);
      transform: rotate(55deg);
    }
  }
  