#main-header {
    background: #333;
    color: white;
    height: 100px;
    font-size: 40px;
    width: 100%;
    left: 0;
    top: 0;
    display: fixed;
}   
#main-header a {
    color: white;
}
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#contentMap{
    height: 400px;
    width: 60%;
    margin: 50px auto;
}

.input-group{
    width: 95%;
    margin: 5px auto;
}
.input-group-text{
    background-color: #ffcc5c
}
.card-img-top{
    width: 100%;
}
.card-columns{
    column-count: 5;
}
.card-columns .card{
    width: 100%;
}