

body{
    background-color: rgb(255,238,173);
    width: 100%;
    height: 100%;
}
<<<<<<< HEAD
.contentTotal{
  width: 50%;
  margin: 10% auto;
  text-align: center;

}

#contenidoImagen{
    width: 35%;
    height: 200px;
    margin: 0 auto;
=======

section{
  margin: 17% 0
}

#contenidoImagen{
    width: 100%;
    height: 170px;
    margin: 100px auto;
>>>>>>> a5b09ab9b24284c106142fcb7d0cc0301beda091
}

h3{
  font-family: 'Pacifico',serif;
<<<<<<< HEAD
  font-size: 40px;
=======
  font-size: 25px;
>>>>>>> a5b09ab9b24284c106142fcb7d0cc0301beda091
  color: #000000;
}

.rotate{
    background-color:#e01563;
    z-index:999;
    padding: 85px 10px;
    width: 2px;
    border-radius: 25px;
    opacity:0.8;
    margin-left: 42%;
    position: absolute;
  }
  
  .rotating {
    background-color:#e9a820;
    -webkit-animation: rotating 2s linear forwards;
    -moz-animation: rotating 2s linear forwards;
    -ms-animation: rotating 2s linear forwards;
    -o-animation: rotating 2s linear forwards;
    animation: rotating 2s forwards;
  }
  
  .rotating-left {
    background-color:#3eb991;
    -webkit-animation: rotating-left 2s linear forwards;
    -moz-animation: rotating-left 2s linear forwards;
    -ms-animation: rotating-left 2s linear forwards;
    -o-animation: rotating-left 2s linear forwards;
    animation: rotating-left 2s forwards;
  }
  
  @keyframes rotating-left {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(-55deg);
      -moz-transform: rotate(-55deg);
      -webkit-transform: rotate(-55deg);
      -o-transform: rotate(-55deg);
      transform: rotate(-55deg);
    }
  }
  
  @keyframes rotating {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(55deg);
      -moz-transform: rotate(55deg);
      -webkit-transform: rotate(55deg);
      -o-transform: rotate(55deg);
      transform: rotate(55deg);
    }
  }
  