
body{
    background-color: rgb(255,238,173);
}
.contentCentral {
    overflow: hidden;
    position: absolute;
    height: 200px;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -150px;
  }
.rotate{
    background-color:#e01563;
    z-index:999;
    padding: 100px 10px;
    width: 2px;
    border-radius: 25px;
    opacity:0.8;
    margin-left:110px;
    position: absolute;
  }
  
  .rotating {
    background-color:#e9a820;
    -webkit-animation: rotating 2s linear forwards;
    -moz-animation: rotating 2s linear forwards;
    -ms-animation: rotating 2s linear forwards;
    -o-animation: rotating 2s linear forwards;
    animation: rotating 2s forwards;
  }
  
  .rotating-left {
    background-color:#3eb991;
    -webkit-animation: rotating-left 2s linear forwards;
    -moz-animation: rotating-left 2s linear forwards;
    -ms-animation: rotating-left 2s linear forwards;
    -o-animation: rotating-left 2s linear forwards;
    animation: rotating-left 2s forwards;
  }
  
  @keyframes rotating-left {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(-55deg);
      -moz-transform: rotate(-55deg);
      -webkit-transform: rotate(-55deg);
      -o-transform: rotate(-55deg);
      transform: rotate(-55deg);
    }
  }
  
  @keyframes rotating {
    from {
      opacity: 0.1;
    }
    
    to {
      opacity: 0.8;
      -ms-transform: rotate(55deg);
      -moz-transform: rotate(55deg);
      -webkit-transform: rotate(55deg);
      -o-transform: rotate(55deg);
      transform: rotate(55deg);
    }
  }
  